<%- include("./partials/header")  %>

<form action="/register" method="POST">
  <div class="mt-5 mx-5">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="text"  name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" autocomplete="off" required>
  </div>
  <div class="mt-5 mx-5">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1" autocomplete="off" required>
  </div>
  <button type="submit" class="btn btn-primary mt-5 mx-5">Submit</button>
  <a class="btn btn-primary mt-5 mx-5" href="/login" role="button">Login</a>
</form>

<%- include("./partials/footer")  %>